openapi: 3.1.0
info:
  description: |-
    REST API for LaminHub.

    Relevant documentation:

    - [REST API](https://docs.lamin.ai/rest)
    - [Permissions](https://docs.lamin.ai/permissions)
    - [Spaces](https://docs.lamin.ai/lamindb.space)
    - [Storage](https://docs.lamin.ai/lamindb.storage)
    - [Records](https://docs.lamin.ai/records)
  title: LaminHub REST API
  version: 1.50.1
servers:
- url: https://aws.us-east-1.lamin.ai/api
paths:
  /organizations:
    put:
      description: |-
        Create an organization account and make the caller an admin.

        **Permissions:** Requires authentication.
      operationId: create_organization_organizations_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganizationRequestBody"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Organization created.
        "409":
          description: The handle is already in use.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Create Organization
      tags:
      - Organizations
      x-content-type: application/json
      x-accepts:
      - application/json
  /organizations/{organization_id}:
    get:
      description: |-
        Return organization details.

        **Permissions:** Public organization profiles are visible.
      operationId: get_organization_organizations__organization_id__get
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Organization
      tags:
      - Organizations
      x-accepts:
      - application/json
  /organizations/{organization_id}/members:
    get:
      description: |-
        List organization members.

        **Permissions:** Non-guest organization members can list organization members. Guests can only see their own membership.
      operationId: list_organization_members_organizations__organization_id__members_get
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Organization Members
      tags:
      - Organizations
      x-accepts:
      - application/json
  /organizations/{organization_id}/members/{account_id}:
    delete:
      description: |-
        Remove an organization member.

        **Permissions:** Requires organization manager or admin access. Only organization admins can remove admin members.
      operationId: remove_organization_member_organizations__organization_id__members__account_id__delete
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Account UUID.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          description: Account UUID.
          format: uuid
          title: Account Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Remove Organization Member
      tags:
      - Organizations
      x-accepts:
      - application/json
    patch:
      description: |-
        Update an organization member's role.

        **Permissions:** Requires organization manager or admin access. Only organization admins can set or update admin members.

        **Quota:** Non-guest roles count against the organization's member quota.
      operationId: update_organization_member_organizations__organization_id__members__account_id__patch
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Account UUID.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          description: Account UUID.
          format: uuid
          title: Account Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationMemberRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "403":
          description: Member quota reached.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Update Organization Member
      tags:
      - Organizations
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |-
        Add an account to an organization.

        **Permissions:** Requires organization manager or admin access. Only organization admins can add admin members.

        **Quota:** Non-guest members count against the organization's member quota.
      operationId: add_organization_member_organizations__organization_id__members__account_id__put
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Account UUID.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          description: Account UUID.
          format: uuid
          title: Account Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddOrganizationMemberRequestBody"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Member added.
        "403":
          description: Member quota reached.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Add Organization Member
      tags:
      - Organizations
      x-content-type: application/json
      x-accepts:
      - application/json
  /account:
    get:
      description: |-
        Return the authenticated caller account when a token is provided.

        **Permissions:** No authentication required. Unauthenticated requests return null.
      operationId: get_caller_account_account_get
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/Account"
                nullable: true
          description: "Caller account, or null if unauthenticated."
      security:
      - LaminAccessToken: []
      summary: Get Caller Account
      tags:
      - Accounts
      x-accepts:
      - application/json
  /account/jwt:
    post:
      description: |-
        Exchange a Lamin API key for an access token.

        **Permissions:** Requires a valid Lamin API key.
      operationId: exchange_api_key_for_access_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeyExchangeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response Exchange Api Key For Access Token
          description: Access token exchange response.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Exchange API Key for Access Token
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts:
      - application/json
  /account/jwt/exchange:
    post:
      description: |-
        Exchange an external IdP JWT for a Lamin access token.

        The external token is verified against the app's JWKS and mapped to a Lamin
        account by email. The external token itself is the credential.

        **Permissions:** Requires a valid JWT issued by the configured external app.
      operationId: exchange_external_jwt_for_access_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExternalJwtExchangeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response Exchange External Jwt For Access Token
          description: Access token exchange response.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Exchange External JWT for Access Token
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts:
      - application/json
  /service-accounts:
    put:
      description: |-
        Create a service account in an organization.

        **Permissions:** Requires organization manager or admin access.
      operationId: create_service_account_service_accounts_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServiceAccountRequestBody"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Service account created.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Create Service Account
      tags:
      - Service Accounts
      x-content-type: application/json
      x-accepts:
      - application/json
  /service-accounts/organizations/{organization_id}:
    get:
      description: |-
        List service accounts in an organization.

        **Permissions:** Requires organization manager or admin access.
      operationId: list_service_accounts_by_organization_service_accounts_organizations__organization_id__get
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Service Accounts By Organization
      tags:
      - Service Accounts
      x-accepts:
      - application/json
  /service-accounts/{organization_id}/{handle}:
    delete:
      description: |-
        Delete a service account.

        **Permissions:** Requires organization manager or admin access.
      operationId: delete_service_account_service_accounts__organization_id___handle__delete
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Account or service-account handle.
        explode: false
        in: path
        name: handle
        required: true
        schema:
          description: Account or service-account handle.
          title: Handle
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Delete Service Account
      tags:
      - Service Accounts
      x-accepts:
      - application/json
    get:
      description: |-
        Return a service account by handle.

        **Permissions:** Requires organization manager or admin access.
      operationId: get_service_account_service_accounts__organization_id___handle__get
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Account or service-account handle.
        explode: false
        in: path
        name: handle
        required: true
        schema:
          description: Account or service-account handle.
          title: Handle
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Service Account
      tags:
      - Service Accounts
      x-accepts:
      - application/json
    patch:
      description: |-
        Update a service account.

        **Permissions:** Requires organization manager or admin access.
      operationId: update_service_account_service_accounts__organization_id___handle__patch
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Account or service-account handle.
        explode: false
        in: path
        name: handle
        required: true
        schema:
          description: Account or service-account handle.
          title: Handle
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateServiceAccountRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Update Service Account
      tags:
      - Service Accounts
      x-content-type: application/json
      x-accepts:
      - application/json
  /service-accounts/{organization_id}/{handle}/api-keys:
    get:
      description: |-
        List API keys for a service account.

        **Permissions:** Requires organization manager or admin access.

        **Notes:** Plaintext keys are not returned.
      operationId: list_service_account_api_keys_service_accounts__organization_id___handle__api_keys_get
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Account or service-account handle.
        explode: false
        in: path
        name: handle
        required: true
        schema:
          description: Account or service-account handle.
          title: Handle
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Service Account Api Keys
      tags:
      - Service Accounts
      x-accepts:
      - application/json
    post:
      description: |-
        Create an API key for a service account.

        **Permissions:** Requires organization manager or admin access.

        **Notes:** The plaintext key is returned once.
      operationId: create_service_account_api_key_service_accounts__organization_id___handle__api_keys_post
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Account or service-account handle.
        explode: false
        in: path
        name: handle
        required: true
        schema:
          description: Account or service-account handle.
          title: Handle
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServiceAccountApiKeyRequestBody"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: API key created.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Create Service Account Api Key
      tags:
      - Service Accounts
      x-content-type: application/json
      x-accepts:
      - application/json
  /service-accounts/{organization_id}/{handle}/api-keys/{api_key_id}:
    delete:
      description: |-
        Delete an API key for a service account.

        **Permissions:** Requires organization manager or admin access.
      operationId: delete_service_account_api_key_service_accounts__organization_id___handle__api_keys__api_key_id__delete
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Account or service-account handle.
        explode: false
        in: path
        name: handle
        required: true
        schema:
          description: Account or service-account handle.
          title: Handle
          type: string
        style: simple
      - description: API key ID.
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          description: API key ID.
          title: Api Key Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Delete Service Account Api Key
      tags:
      - Service Accounts
      x-accepts:
      - application/json
  /secrets/{organization_id}/{name}:
    delete:
      description: |-
        Delete a secret by name.

        **Permissions:** Requires organization admin access.

        **Notes:** Deletes the stored secret and its metadata.
      operationId: delete_secret_secrets__organization_id___name__delete
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Secret name.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: Secret name.
          title: Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Delete Secret
      tags:
      - Secrets
      x-accepts:
      - application/json
    get:
      description: |-
        Return a secret value by name.

        **Permissions:** Requires organization admin access.
      operationId: get_secret_secrets__organization_id___name__get
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Secret name.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: Secret name.
          title: Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Secret
      tags:
      - Secrets
      x-accepts:
      - application/json
    put:
      description: |-
        Set a secret value by name.

        **Permissions:** Requires organization admin access.

        **Notes:** Creates the secret when it does not exist.
      operationId: set_secret_secrets__organization_id___name__put
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      - description: Secret name.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: Secret name.
          title: Name
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetSecretRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Set Secret
      tags:
      - Secrets
      x-content-type: application/json
      x-accepts:
      - application/json
  /spaces:
    put:
      description: |-
        Create a space in an organization.

        **Permissions:** Requires organization manager or admin access.
      operationId: create_space_spaces_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSpaceRequestBody"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Space created.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Create Space
      tags:
      - Spaces
      x-content-type: application/json
      x-accepts:
      - application/json
  /spaces/{space_id}:
    delete:
      description: |-
        Delete a space.

        **Permissions:** Requires organization manager or admin access.

        **Notes:** The space must not be attached to any instances.
      operationId: delete_space_spaces__space_id__delete
      parameters:
      - description: Space UUID.
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          description: Space UUID.
          format: uuid
          title: Space Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Delete Space
      tags:
      - Spaces
      x-accepts:
      - application/json
    get:
      description: |-
        Return space details.

        **Permissions:** Requires non-guest membership in the organization or space collaborator access.
      operationId: get_space_spaces__space_id__get
      parameters:
      - description: Space UUID.
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          description: Space UUID.
          format: uuid
          title: Space Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Space
      tags:
      - Spaces
      x-accepts:
      - application/json
    patch:
      description: |-
        Update a space's name or description.

        **Permissions:** Requires organization manager or admin access.
      operationId: update_space_spaces__space_id__patch
      parameters:
      - description: Space UUID.
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          description: Space UUID.
          format: uuid
          title: Space Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSpaceRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Update Space
      tags:
      - Spaces
      x-content-type: application/json
      x-accepts:
      - application/json
  /spaces/{space_id}/record-attachments:
    put:
      description: |-
        Move a record into a target space.

        **Permissions:** Requires instance admin access.
      operationId: move_record_to_space_spaces__space_id__record_attachments_put
      parameters:
      - description: Space UUID.
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          description: Space UUID.
          format: uuid
          title: Space Id
          type: string
        style: simple
      - description: Target space ID to assign to the record.
        explode: true
        in: query
        name: instance_db_space_id
        required: true
        schema:
          description: Target space ID to assign to the record.
          title: Instance Db Space Id
          type: integer
        style: form
      - description: Instance UUID.
        explode: true
        in: query
        name: instance_id
        required: false
        schema:
          description: Instance UUID.
          format: uuid
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachSpaceToRecordRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Move Record To Space
      tags:
      - Spaces
      x-content-type: application/json
      x-accepts:
      - application/json
  /spaces/{space_id}/instances/{instance_id}:
    delete:
      description: |-
        Detach a space from an instance.

        **Permissions:** Requires instance admin access or organization manager or admin access.
      operationId: detach_space_from_instance_spaces__space_id__instances__instance_id__delete
      parameters:
      - description: Space UUID.
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          description: Space UUID.
          format: uuid
          title: Space Id
          type: string
        style: simple
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Detach Space From Instance
      tags:
      - Spaces
      x-accepts:
      - application/json
    put:
      description: |-
        Attach a space to an instance.

        **Permissions:** Requires instance admin access or organization manager or admin access.
      operationId: attach_space_to_instance_spaces__space_id__instances__instance_id__put
      parameters:
      - description: Space UUID.
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          description: Space UUID.
          format: uuid
          title: Space Id
          type: string
        style: simple
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Attach Space To Instance
      tags:
      - Spaces
      x-accepts:
      - application/json
  /spaces/{space_id}/instances:
    get:
      description: |-
        List instances that use a space.

        **Permissions:** Requires collaborator access to both the space and returned instances.
      operationId: list_instances_using_space_spaces__space_id__instances_get
      parameters:
      - description: Space UUID.
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          description: Space UUID.
          format: uuid
          title: Space Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Instances Using Space
      tags:
      - Spaces
      x-accepts:
      - application/json
  /spaces/instances/{instance_id}:
    get:
      description: |-
        List spaces attached to an instance.

        **Permissions:** Requires collaborator access to both the instance and returned spaces.
      operationId: list_instance_spaces_spaces_instances__instance_id__get
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Instance UUID.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Instance Spaces
      tags:
      - Spaces
      x-accepts:
      - application/json
  /spaces/{space_id}/collaborators:
    delete:
      description: |-
        Remove an account or team collaborator from a space.

        **Permissions:** Requires organization manager or admin access, or space admin access.
      operationId: remove_space_collaborator_spaces__space_id__collaborators_delete
      parameters:
      - description: Space UUID.
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          description: Space UUID.
          format: uuid
          title: Space Id
          type: string
        style: simple
      - description: Account UUID. Mutually exclusive with team_id.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          description: Account UUID. Mutually exclusive with team_id.
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Team UUID. Mutually exclusive with account_id.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          description: Team UUID. Mutually exclusive with account_id.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Remove Space Collaborator
      tags:
      - Spaces
      x-accepts:
      - application/json
    get:
      description: |-
        List space collaborators.

        **Permissions:** Requires space collaborator access.
      operationId: list_space_collaborators_spaces__space_id__collaborators_get
      parameters:
      - description: Space UUID.
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          description: Space UUID.
          format: uuid
          title: Space Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Space Collaborators
      tags:
      - Spaces
      x-accepts:
      - application/json
    patch:
      description: |-
        Update a space collaborator's role.

        **Permissions:** Requires organization manager or admin access, or space admin access. The account or team must already belong to the space organization.
      operationId: update_space_collaborator_spaces__space_id__collaborators_patch
      parameters:
      - description: Space UUID.
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          description: Space UUID.
          format: uuid
          title: Space Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSpaceCollaboratorRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Update Space Collaborator
      tags:
      - Spaces
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |-
        Add an account or team collaborator to a space.

        **Permissions:** Adding a missing account as an organization guest requires organization manager or admin access.

        **Notes:** Can add missing account collaborators as organization guests when requested.
      operationId: add_space_collaborator_spaces__space_id__collaborators_put
      parameters:
      - description: Space UUID.
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          description: Space UUID.
          format: uuid
          title: Space Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddSpaceCollaboratorRequestBody"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Space collaborator added.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Add Space Collaborator
      tags:
      - Spaces
      x-content-type: application/json
      x-accepts:
      - application/json
  /spaces/organizations/{organization_id}:
    get:
      description: |-
        List spaces in an organization.

        **Permissions:** Requires non-guest organization membership.
      operationId: list_organization_spaces_spaces_organizations__organization_id__get
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Organization Spaces
      tags:
      - Spaces
      x-accepts:
      - application/json
  /instances/{instance_id}/branches/merge:
    post:
      description: |-
        Merge one branch into another.

        **Permissions:** Requires write access to every non-default branch space involved.
      operationId: merge_branch_instances__instance_id__branches_merge_post
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MergeBranchRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Merge Branch
      tags:
      - Branches
      x-content-type: application/json
      x-accepts:
      - application/json
  /teams:
    put:
      description: |-
        Create a team in an organization.

        **Permissions:** Requires organization manager or admin access.
      operationId: create_team_teams_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeamRequestBody"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Team created.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Create Team
      tags:
      - Teams
      x-content-type: application/json
      x-accepts:
      - application/json
  /teams/{team_id}:
    delete:
      description: |-
        Delete a team.

        **Permissions:** Requires organization manager or admin access.
      operationId: delete_team_teams__team_id__delete
      parameters:
      - description: Team UUID.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          description: Team UUID.
          format: uuid
          title: Team Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Delete Team
      tags:
      - Teams
      x-accepts:
      - application/json
    get:
      description: |-
        Return team details.

        **Permissions:** Requires non-guest membership in the organization or team membership.
      operationId: get_team_teams__team_id__get
      parameters:
      - description: Team UUID.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          description: Team UUID.
          format: uuid
          title: Team Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Team
      tags:
      - Teams
      x-accepts:
      - application/json
    patch:
      description: |-
        Update a team's name or description.

        **Permissions:** Requires organization manager or admin access.
      operationId: update_team_teams__team_id__patch
      parameters:
      - description: Team UUID.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          description: Team UUID.
          format: uuid
          title: Team Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Update Team
      tags:
      - Teams
      x-content-type: application/json
      x-accepts:
      - application/json
  /teams/{team_id}/members:
    get:
      description: |-
        List team members.

        **Permissions:** Requires team membership.
      operationId: list_team_members_teams__team_id__members_get
      parameters:
      - description: Team UUID.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          description: Team UUID.
          format: uuid
          title: Team Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Team Members
      tags:
      - Teams
      x-accepts:
      - application/json
  /teams/{team_id}/members/{account_id}:
    delete:
      description: |-
        Remove an account from a team.

        **Permissions:** Requires organization manager or admin access, or team admin access.
      operationId: remove_team_member_teams__team_id__members__account_id__delete
      parameters:
      - description: Team UUID.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          description: Team UUID.
          format: uuid
          title: Team Id
          type: string
        style: simple
      - description: Account UUID.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          description: Account UUID.
          format: uuid
          title: Account Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Remove Team Member
      tags:
      - Teams
      x-accepts:
      - application/json
    patch:
      description: |-
        Update a team member's role.

        **Permissions:** Requires organization manager or admin access, or team admin access. The account must already belong to the organization.
      operationId: update_team_member_teams__team_id__members__account_id__patch
      parameters:
      - description: Team UUID.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          description: Team UUID.
          format: uuid
          title: Team Id
          type: string
        style: simple
      - description: Account UUID.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          description: Account UUID.
          format: uuid
          title: Account Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamMemberRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Update Team Member
      tags:
      - Teams
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |-
        Add an account to a team.

        **Permissions:** Requires organization manager or admin access, or team admin access. The account must already belong to the organization.
      operationId: add_team_member_teams__team_id__members__account_id__put
      parameters:
      - description: Team UUID.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          description: Team UUID.
          format: uuid
          title: Team Id
          type: string
        style: simple
      - description: Account UUID.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          description: Account UUID.
          format: uuid
          title: Account Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddTeamMemberRequestBody"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Team member added.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Add Team Member
      tags:
      - Teams
      x-content-type: application/json
      x-accepts:
      - application/json
  /teams/organizations/{organization_id}:
    get:
      description: |-
        List teams in an organization.

        **Permissions:** Requires non-guest organization membership.
      operationId: list_organization_teams_teams_organizations__organization_id__get
      parameters:
      - description: Organization UUID.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          description: Organization UUID.
          format: uuid
          title: Organization Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Organization Teams
      tags:
      - Teams
      x-accepts:
      - application/json
  /instances:
    put:
      description: |-
        Create an instance.

        **Permissions:** Requires authentication. Organization-owned instances require organization manager or admin access.

        **Quota:** Consumes instance quota for the owner account.
      operationId: create_instance_instances_put
      parameters:
      - description: Instance name.
        explode: true
        in: query
        name: name
        required: true
        schema:
          description: Instance name.
          title: Name
          type: string
        style: form
      - description: "Storage root, or 'create-s3' to create managed S3 storage."
        explode: true
        in: query
        name: storage
        required: false
        schema:
          default: create-s3
          description: "Storage root, or 'create-s3' to create managed S3 storage."
          title: Storage
          type: string
        style: form
      - description: Serialized schema metadata for the instance.
        explode: true
        in: query
        name: schema_str
        required: false
        schema:
          description: Serialized schema metadata for the instance.
          nullable: true
          type: string
        style: form
      - description: Database server name to create the instance on.
        explode: true
        in: query
        name: db_server_name
        required: false
        schema:
          description: Serialized schema metadata for the instance.
          nullable: true
          type: string
        style: form
      - description: Existing storage UID to attach to the instance.
        explode: true
        in: query
        name: storage_uid
        required: false
        schema:
          description: Serialized schema metadata for the instance.
          nullable: true
          type: string
        style: form
      - description: Owner account UUID. Defaults to the caller account.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          description: Instance UUID.
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Create the instance as public.
        explode: true
        in: query
        name: public
        required: false
        schema:
          default: false
          description: Create the instance as public.
          title: Public
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: {}
              description: Extra parameters for managed S3 bucket registration.
              nullable: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Instance created.
        "403":
          description: Instance quota reached.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Create Instance
      tags:
      - Instances
      x-content-type: application/json
      x-accepts:
      - application/json
  /instances/{instance_id}:
    delete:
      description: |-
        Delete an instance after confirming its name.

        **Permissions:** Requires instance admin access.

        **Notes:** The instance name confirmation must exactly match the instance name.
      operationId: delete_instance_instances__instance_id__delete
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Instance name confirmation.
        explode: true
        in: query
        name: instance_name
        required: true
        schema:
          description: Instance name confirmation.
          title: Instance Name
          type: string
        style: form
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Delete Instance
      tags:
      - Instances
      x-accepts:
      - application/json
  /instances/{instance_id}/set-public:
    post:
      description: |-
        Make an instance public.

        **Permissions:** Requires instance admin access.

        **Notes:** Makes the instance publicly readable and refreshes access state.
      operationId: set_instance_public_instances__instance_id__set_public_post
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Set Instance Public
      tags:
      - Instances
      x-accepts:
      - application/json
  /instances/{instance_id}/set-private:
    post:
      description: |-
        Make an instance private.

        **Permissions:** Requires instance admin access.

        **Notes:** Removes public read access and refreshes access state.
      operationId: set_instance_private_instances__instance_id__set_private_post
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Set Instance Private
      tags:
      - Instances
      x-accepts:
      - application/json
  /instances/{owner}/{name}/settings:
    get:
      description: |-
        Return settings for an instance by owner and name.

        **Permissions:** Requires read access to the instance.
      operationId: get_instance_settings_instances__owner___name__settings_get
      parameters:
      - description: Owner account handle.
        explode: false
        in: path
        name: owner
        required: true
        schema:
          description: Owner account handle.
          title: Owner
          type: string
        style: simple
      - description: Instance name.
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: Instance name.
          title: Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Instance Settings
      tags:
      - Instances
      x-accepts:
      - application/json
  /instances/{instance_id}/db_token:
    get:
      description: |-
        Return an access token for direct instance data access.

        **Permissions:** Requires read access to the instance.

        **Notes:** The token grants direct access to instance data.
      operationId: get_db_token_instances__instance_id__db_token_get
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DbTokenResponse"
          description: Instance access token.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Db Token
      tags:
      - Instance DB Token
      x-accepts:
      - application/json
  /instances/{instance_id}/schema:
    get:
      description: |-
        Return the instance schema JSON.

        **Permissions:** Requires read access to the instance.
      operationId: get_schema_instances__instance_id__schema_get
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Schema
      tags:
      - Instance Schema
      x-accepts:
      - application/json
  /instances/{instance_id}/schema/{module_name}/{model_name}:
    get:
      description: |-
        Return related models for a schema model.

        **Permissions:** Requires read access to the instance.
      operationId: get_relations_instances__instance_id__schema__module_name___model_name__get
      parameters:
      - description: Schema module name.
        explode: false
        in: path
        name: module_name
        required: true
        schema:
          description: Schema module name.
          title: Module Name
          type: string
        style: simple
      - description: Model name within the schema module.
        explode: false
        in: path
        name: model_name
        required: true
        schema:
          description: Model name within the schema module.
          title: Model Name
          type: string
        style: simple
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Relations
      tags:
      - Instance Schema
      x-accepts:
      - application/json
  /instances/{instance_id}/collaborators:
    delete:
      description: |-
        Remove an account or team collaborator from an instance.

        **Permissions:** Requires instance admin access or organization manager or admin access.
      operationId: remove_collaborator_instances__instance_id__collaborators_delete
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Account UUID. Mutually exclusive with team_id.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          description: Account UUID. Mutually exclusive with team_id.
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Team UUID. Mutually exclusive with account_id.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          description: Team UUID. Mutually exclusive with account_id.
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Remove Collaborator
      tags:
      - Instances
      x-accepts:
      - application/json
    get:
      description: |-
        List instance collaborators.

        **Permissions:** Requires read access to the instance.
      operationId: list_collaborators_instances__instance_id__collaborators_get
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Collaborators
      tags:
      - Instances
      x-accepts:
      - application/json
    patch:
      description: |-
        Update an instance collaborator's role.

        **Permissions:** Requires instance admin access or organization manager or admin access.
      operationId: update_collaborator_instances__instance_id__collaborators_patch
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCollaboratorRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Update Collaborator
      tags:
      - Instances
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |-
        Add an account or team collaborator to an instance.

        **Permissions:** Requires instance admin access or organization manager or admin access.
      operationId: add_collaborator_instances__instance_id__collaborators_put
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddCollaboratorRequestBody"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Instance collaborator added.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Add Collaborator
      tags:
      - Instances
      x-content-type: application/json
      x-accepts:
      - application/json
  /instances/{instance_id}/search:
    get:
      description: |-
        Search records across an instance.

        **Permissions:** Requires read access to the instance.
      operationId: global_search_instances__instance_id__search_get
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Search term.
        explode: true
        in: query
        name: search_term
        required: true
        schema:
          description: Search term.
          title: Search Term
          type: string
        style: form
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Global Search
      tags:
      - Instance Search
      x-accepts:
      - application/json
  /instances/{instance_id}/files/tree:
    get:
      description: |-
        Return the artifact or transform file tree.

        **Permissions:** Requires read access to the instance.
      operationId: get_tree_instances__instance_id__files_tree_get
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: File entity type to browse.
        explode: true
        in: query
        name: entity_type
        required: true
        schema:
          description: File entity type to browse.
          enum:
          - artifacts
          - transforms
          title: Entity Type
          type: string
        style: form
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Tree
      tags:
      - Instance File Explorer
      x-accepts:
      - application/json
  /instances/{instance_id}/files/{entity_type}:
    get:
      description: |-
        List files in an artifact or transform directory.

        **Permissions:** Requires read access to the instance.
      operationId: list_directory_instances__instance_id__files__entity_type__get
      parameters:
      - description: File entity type to browse.
        explode: false
        in: path
        name: entity_type
        required: true
        schema:
          description: File entity type to browse.
          enum:
          - artifacts
          - transforms
          title: Entity Type
          type: string
        style: simple
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Directory path to list.
        explode: true
        in: query
        name: path
        required: false
        schema:
          default: ""
          description: Directory path to list.
          title: Path
          type: string
        style: form
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Directory
      tags:
      - Instance File Explorer
      x-accepts:
      - application/json
  /instances/{instance_id}/modules/{module_name}/{model_name}/group-by:
    post:
      description: |-
        Aggregate model records by dimensions and measures.

        **Permissions:** Requires read access to the instance.
      operationId: group_by_instances__instance_id__modules__module_name___model_name__group_by_post
      parameters:
      - description: Schema module name.
        explode: false
        in: path
        name: module_name
        required: true
        schema:
          description: Schema module name.
          title: Module Name
          type: string
        style: simple
      - description: Model name within the schema module.
        explode: false
        in: path
        name: model_name
        required: true
        schema:
          description: Model name within the schema module.
          title: Model Name
          type: string
        style: simple
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/GroupByRequestBody"
              description: Group-by query options.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Group By
      tags:
      - Instance Statistics
      x-content-type: application/json
      x-accepts:
      - application/json
  /instances/{instance_id}/statistics:
    get:
      description: |-
        Return table row counts and artifact size for an instance.

        **Permissions:** Requires read access to the instance.

        **Notes:** Row counts are exact for small tables and approximate for larger tables.
      operationId: get_instance_statistics_instances__instance_id__statistics_get
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: "A list of models in 'module.Model' format (case-sensitive).\
          \ If omitted, statistics for all primary tables are returned."
        explode: true
        in: query
        name: q
        required: false
        schema:
          description: "A list of models in 'module.Model' format (case-sensitive).\
            \ If omitted, statistics for all primary tables are returned."
          items:
            description: Serialized schema metadata for the instance.
            nullable: true
            type: string
          nullable: true
          type: array
          default: null
        style: form
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatisticsResponse"
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetail"
          description: Invalid model name format provided.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetail"
          description: Read access denied to the instance.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetail"
          description: Instance or requested model not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Approximate Table Row Counts and Artifact Size
      tags:
      - Instance Statistics
      x-accepts:
      - application/json
  /instances/{instance_id}/non_empty_tables:
    get:
      description: |-
        List non-empty data tables grouped by module.

        **Permissions:** Requires read access to the instance.

        **Notes:** Large-table checks can have false positives.
      operationId: get_non_empty_tables_instances__instance_id__non_empty_tables_get
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NonEmptyTablesResponse"
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetail"
          description: Read access denied to the instance.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetail"
          description: Instance not accessible.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetail"
          description: Unexpected error while checking data tables.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: List Non-Empty Data Tables by Module
      tags:
      - Instance Statistics
      x-accepts:
      - application/json
  /instances/{instance_id}/modules/{module_name}/{model_name}/{id}/counts:
    get:
      description: |-
        Return relation counts for a record.

        **Permissions:** Requires read access to the instance.
      operationId: get_relation_counts_instances__instance_id__modules__module_name___model_name___id__counts_get
      parameters:
      - description: Schema module name.
        explode: false
        in: path
        name: module_name
        required: true
        schema:
          description: Schema module name.
          title: Module Name
          type: string
        style: simple
      - description: Model name within the schema module.
        explode: false
        in: path
        name: model_name
        required: true
        schema:
          description: Model name within the schema module.
          title: Model Name
          type: string
        style: simple
      - description: Record ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Record ID.
          title: Id
          type: integer
        style: simple
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Get Relation Counts
      tags:
      - Instance Statistics
      x-accepts:
      - application/json
  /instances/{instance_id}/forms:
    post:
      description: |-
        Register a form on the instance.

        **Permissions:** Requires write access to the instance.
      operationId: register_form_instances__instance_id__forms_post
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterFormRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Register Form
      tags:
      - Instance Forms
      x-content-type: application/json
      x-accepts:
      - application/json
  /instances/{instance_id}/function/execute:
    post:
      description: |-
        Execute a registered function for a transform.

        **Permissions:** Requires write access to the target instance or space.
      operationId: execute_function_instances__instance_id__function_execute_post
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteFunctionRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Execute Function
      tags:
      - Instance Functions
      x-content-type: application/json
      x-accepts:
      - application/json
  /instances/{instance_id}/transforms:
    post:
      description: |-
        Create a transform in the instance.

        **Permissions:** Requires write access to the target instance or space.
      operationId: create_transform_instances__instance_id__transforms_post
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTransformRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Create Transform
      tags:
      - Instance Transforms
      x-content-type: application/json
      x-accepts:
      - application/json
  /instances/{instance_id}/artifacts/upload:
    post:
      description: |-
        Upload a file and register it as an artifact.

        **Permissions:** Requires write access to the target instance or space.
      operationId: upload_artifact_instances__instance_id__artifacts_upload_post
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Body_upload_artifact_instances__instance_id__artifacts_upload_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Upload Artifact
      tags:
      - Instance Artifacts
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /instances/{instance_id}/artifacts/create:
    post:
      description: |-
        Create an artifact from an existing storage path.

        **Permissions:** Requires write access to the target instance or space.
      operationId: create_artifact_instances__instance_id__artifacts_create_post
      parameters:
      - description: Instance UUID.
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          description: Instance UUID.
          format: uuid
          title: Instance Id
          type: string
        style: simple
      - description: Space UUID for space-scoped access checks.
        explode: true
        in: query
        name: space_id
        required: false
        schema:
          description: Space UUID for space-scoped access checks.
          format: uuid
          nullable: true
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateArtifactRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - LaminAccessToken: []
      summary: Create Artifact
      tags:
      - Instance Artifacts
      x-content-type: application/json
      x-accepts:
      - application/json
  /instances/{instance_id}/artifacts/by-path:
    get:
      description: |-
        Return artifact metadata for a storage path.

[...]
